elpa/
straight/
includes/
*~
*.dat
\#*\#

games/
url/

projectile-bookmarks.eld
.projectile-bookmarks.eld

.DS_Store
.cache/
.dap-breakpoints
.extension/
.lsp-java/
.lsp-eslint-choices
.lsp-session-v1

eclipse.jdt.ls/
lib/
recentf

transient/history.el

*.sqlite